<nav-bar></nav-bar>

<side-bar></side-bar>
<div id="main">
	<div class="row container-flex">
		<div class="col-md-9 col-xs-12 container-fluid">
			<div id="justify-center"
				class="d-flex flex-wrap col-12 container-flex">
				<div class="row container-fluid">
					<div class="col-10 container-fluid">
						<h4>Archived Notes</h4>
					</div>
				</div>
				<div id="{{note.noteId}}" ng-class="view"
					ng-style="{'background-color' : note.color, 'border' : note.color}"
					ng-repeat="note in notes | filter: {inTrash : false} | filter: {pinned : false} | filter: {archived : true} track by $index ">
					<div style="margin: 0px; padding: 0px" ng-click="showNote(note)">
						<div class="card-title">
							<strong class="card-title">{{note.title}}</strong>
							<div class="float-right">
								<a title="Pin note"
									ng-click="pinNote(note); $event.stopPropagation()" href="">
									<i class="material-icons note-menu-icons">offline_pin</i>
								</a>
							</div>

						</div>
						<div class="card-body">
							<p class="card-text">{{note.description}}</p>
						</div>
					</div>
					<div class="row">
						<div class="col-2">

							<a title="Reminder" href=""> <i
								class="material-icons note-menu-icons">touch_app</i>
							</a>


						</div>
						<div class="col-2">
							<a title="Collaborator" ng-click="collaborateModal(note)" href="">
								<i class="material-icons note-menu-icons">person_add</i>
							</a>

						</div>
						<div class="col-2">

							<div class="dropdown show color-pallete" role="button"
								id="color-menu" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false">
								<a title="change color" href=""> <i
									class="material-icons note-menu-icons">color_lens</i>
								</a>

								<div class="dropdown-menu custom-menu"
									aria-labelledby="color-menu" data-toggle="dropdown">

									<div ng-repeat="color in colors"
										class="dropdown-item menu custom-menu-item"
										ng-style="{'background-color':color}"
										ng-click="colorNote(note, color);" href=""></div>
								</div>
							</div>
						</div>

						<div class="col-2">
							<a title="Add picture" ng-click="openFileUpload(note)" href="">
								<i class="material-icons note-menu-icons">photo</i>
							</a>

						</div>
						<div class="col-2">
							<a title="Unarchive" href=""
								ng-click="archiveNote(note); $event.stopPropagation()"> <i
								class="material-icons">unarchive</i>
							</a>

						</div>
						<div class="col-2">
							<div class="dropdown show" role="button" id="dropdownMenuLink"
								data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false">
								<a title="More" href=""> <i
									class="material-icons note-menu-icons">more_vert</i>
								</a>

								<div class="dropdown-menu custom-menu"
									aria-labelledby="dropdownMenuLink" data-toggle="dropdown">
									<a class="dropdown-item menu custom-menu-item"
										ng-click="trashNote(note)"
										ng-show="note.user.id == loggedUser.id" href="">Delete
										Note</a> <a class="dropdown-item menu custom-menu-item"
										ng-click="trashNote(note)"
										ng-hide="note.user.id == loggedUser.id" href="">Remove
										myself</a> <a class="dropdown-item menu custom-menu-item"
										ng-click="copyNote(note); " href="">Make a copy</a> <a
										class="dropdown-item menu custom-menu-item"
										ng-click="fbAsyncSocialShare(note); " href="">Share with
										facebook</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>




