<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Reset Password - ToDo</title>
<link rel="stylesheet" href="CSS/forgotPassword.css" />
</head>
<body>
	<div class="col-5 container-fluid margintop formback">
		<form>
			<div>
				<input class="form-control" type="email" ng-model="user.email" name="email" id="email"
					placeholder="Enter email here" />
			</div>
			
			<div>	
			<span class="error" id="error" ng-show="error">
			Email not found. 
			</span>
			<span class="success" id="error" ng-show="success">
			A confirmation email has been sent to your email ! 
			</span>
			<span class="success" id="error" ng-show="waiting">
			please wait... 
			</span>
			</div>
				
			<br />
			<div class="container-fluid col-6" id="submitbutton">
				<button class="btn btn-block btn-info" ng-click="forgotPassword()">Submit</button>
			</div>
		</form>
	</div>
</body>	
</html>	