
<div class="container-fluid" style="padding: 0px;">
	<nav class="navbar navbar-light top-navbar"
		style="padding: 0px; margin: 0px;">

		<div class="container-fluid row" style="height: 60px;">
			<div class="col-1">
				<button class="navbar-toggler responsive" onclick="openNav();"
					type="button">
					<span class="navbar-toggler-icon" style="margin: 0px;"></span>
				</button>
				<!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> -->
			</div>


			<div class="w-25 col-2">
				<a title="Google Keep" class="navbar-text googlefont-hover" href="#">
					<h4 class="googlefont">
						<i> <b>Google</b>
						</i> Keep
					</h4>
				</a>
			</div>
			<div class="col-6 d-none d-sm-block">
				<form class="form-inline ">
					<div title="Search" class="input-group col-12 nav-input-group">
						<div class="search-icon" style="margin-top: 5px;">
							<i class="material-icons ">search</i>
						</div>
						<input class="form-control nav-search" type="search"
							placeholder="Search" aria-label="Search ">
					</div>
				</form>
			</div>
			<div class="col-1 d-none d-block">

				<a title="Refresh" href=" #"> <i
					class="material-icons grey-nav-icons">settings_backup_restore</i>
				</a> <a title="Grid View" href="#"> <i
					class="material-icons grey-nav-icons">view_quilt</i>
				</a>

			</div>

			<div class="col-1 d-none d-md-block">

				<a title="Google Apps" href="#"> <i
					class="material-icons grey-nav-icons">apps</i>
				</a> <a title="Notifications" href="#"> <i
					class="material-icons grey-nav-icons">notifications</i>
				</a>

			</div>


			<div class="col-1">

				<a title="Profile" href="#"> <i
					class="material-icons grey-nav-icons">account_circle</i>
				</a>

			</div>
		</div>
	</nav>
</div>
<div class="row">

	<div id="mySidenav" class="sidenav col-3">
		<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		<a href="#">About</a> <a href="#">Services</a> <a href="#">Clients</a>
		<a href="#">Contact</a>
	</div>
</div>


<!-- Search bar -->

<div class="container-fluid col-6" id="bothForms">

	<div>
		<form action="" class="form-group form-control" id="takenote"
			onclick="hideForm()">
			<div>
				<input type="text" class="form-control hide-border" id="title"
					ng-model="note.title" placeholder="Title" /> <br />
			</div>
			<div style="visibility: hidden;">
				<input type="text"
					class="form-control hide-border" id="description"
					ng-model="note.description" placeholder="Take a note..." />
			</div>
		</form>
	</div>
</div>
<!-- Notes -->

<div class="row">
	<div id="main"
		class="note-container col-xs-10 col-xl-4 col-sm-10 col-md-8 col-lg-6"
		ng-repeat="note in notes track by $index">



		<div class="card note col-11">
			<div class="card-body">
				<h4 class="card-title">{{note.title}}</h4>
				<p class="card-text">{{note.description}}</p>
			</div>
		</div>
	</div>
</div>

<script>
	function hideForm() {
		document.getElementById("description").style.visibility = "visible";
	}

	function openNav() {
		document.getElementById("main").style.marginLeft = "250px";
		document.getElementById("mySidenav").style.width = "250px";

	}

	function closeNav() {
		document.getElementById("mySidenav").style.width = "0px";
		document.getElementById("main").style.marginLeft = "0px";
	}
</script>
