
<!-- Main Script  -->
<div class="container justify-content-center col-6 supercontainer"
	align="center">

	<div class="row">
		<div class="col classpadding">
			<h3>Sign In</h3>
			<hr class="hrmargin" />
		</div>
	</div>

	<div class="row">
		<div class="col-md-6 ">
			<div class="row">
				<div class="col">
					<h4 id="faded">Use other accounts</h4>
				</div>
			</div>
			<div class="row  hidden-md-down">
				<div class="col">
					<p>you can also sign in using your</p>
					<p>Facebook Account or Google Account</p>
				</div>
			</div>
			<div class="row buttonpadding">
				<div class="col-md-12">

					<a type="submit" href="fbconnect"
						class="btn btn-block facebook btn-primary">Log in with
						Facebook</a>

				</div>
			</div>

			<div class="row buttonpadding">
				<div class="col-md-12">
					<a type="submit" href="gconnect"
						class="btn btn-block btn-primary">Log in with Google</a>
				</div>
			</div>
		</div>

		<div class="container col-md-6 sideborder">
			<div class="row">
				<div class="col">
					<h4 id="faded">Use your accounts</h4>
					<br />
				</div>
			</div>

			<div id="authentication-message" class="row alertpad hidden">
				<div class=" col alert alert-danger alert-dismissible fade show"
					role="alert">
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<strong>Login Failed !</strong> Email or Password is incorrect
				</div>
			</div>

			<div id="loginagain-message" class="row hidden alertpad">
				<div
					class=" col alert alert-warning alert-dismissible fade show hidden-xs-up"
					role="alert">
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<strong>Access Failed !</strong> You must Log in first
				</div>
			</div>

			<div id="logout-message" class="row hidden alertpad">
				<div
					class=" col alert alert-success alert-dismissible fade show hidden-xs-up"
					role="alert">
					<button type="button" class="close" data-dismiss="alert"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>

					</button>
					<strong>Logout Successful</strong>You've Logged out successfully!
				</div>
			</div>
			<div class="row">
				<div class="col">
					<!-- Login Form -->
					<form class="formpadding" name="login">

						<input type="email" class="form-control" required
							ng-required="true" id="email" placeholder="Enter email"
							name="email" ng-model="user.email" ng-minlength="6"
							, ng-pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"
							novalidate> <input type="password" class="form-control"
							id="password" placeholder="Enter password" name="password"
							ng-model="user.password" ng-minlength="3" novalidate>
						<div role="alert" class="col-12 login-errors">
							<!-- Span Errors -->
							<span class="error" ng-show="login.email.$error.pattern">
								* Email Invalid </span> <span class="error" id="loginerror"
								ng-show="custom"> * Login failed. please check
								credentials. </span> <span class="error"
								ng-show="login.email.$error.minlength"> * Email too short
							</span> <span class="error"
								ng-show="login.password.$error.minlength"> * password too
								short </span>

						</div>
						<div class="row ">
							<div class="col-12">
								<button type="submit" ng-click="loginUser()"
									class="btn btn-block btn-lg btn-success">Submit</button>
								<br>
							</div>
						</div>
						<div id="pass">
							<a href="" ng-click="redirectToForgotPassword()">Forgot
								password?</a>
						</div>
						<div id="register">
							<a href="" ng-click="redirectToRegistration()"> Register!</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 	<script>
		function authError() {
			$('#authentication-message').toggleClass('hidden');
		}

		function logout() {
			$('#logout-message').toggleClass('hidden');
		}

		function loginAgain() {

			$('#loginagain-message').toggleClass('hidden');
		}
	</script>
 -->