
<div
	class="container justify-content-center col-xs-12 col-lg-3 col-xl-3 col-md-5 col-sm-12"
	align="center" id="container">
	<div class="row">
		<div class="col">
			<h2>Create an account</h2>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col form-padding">

			<form name="registration" align="left" class="form-control"
				id="registration">

				<label for="fullname">First Name </label>
				 <input type="text"
					class="form-control" id="firstname" placeholder="Enter first name"
					name="firstname" ng-required="true" ng-model="user.firstName"
					ng-pattern="/^[a-zA-Z\s]*$/"> 
					<span
					ng-show="registration.firstname.$error.pattern" class="error">Please
					enter a valid first name</span>
					<br />
					 <label for="lastname">Last Name </label>
					  <input
					ng-required="true" ng-model="user.lastName" type="text"
					class=" form-control " id="lastname" placeholder="Enter last name"
					name="lastname" ng-pattern="/^[a-zA-Z\s]*$/">
					 <span
					ng-show="registration.lastname.$error.pattern" class="error">Please
					enter a valid last name</span> <br> 
					<label for="email">Email
					Address </label>
					 <input ng-model="user.email" type="email"
					ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/"
					class="form-control" ng-blur="userExist($event)" id="email" placeholder="Enter email"
					name="email">
					 <span
					ng-show="registration.email.$error.pattern" class="error">Please
					enter a valid email</span>
					
					<span
					ng-show="emailexists" class="error">Email exists</span>
					
					 <br>
					 <label for="phone">Phone
					number </label>
					 <input ng-minlength="10" ng-trim="false" ng-maxlength="10"
					ng-model="user.phone" ng-pattern="/^[0-9]{1,10}$/" type="text"
					class="form-control" id="phone" placeholder="Enter mobile number"
					name="phone"> 
					<span 
					ng-show="registration.phone.$error.pattern" class="error">Please
					enter a valid phone number</span>
					 <span
					ng-show="registration.phone.$error.minlength||registration.phone.$error.maxlength"
					class="error">phone number must be 10 digits</span> <br>
					 <label
					for="password">Password</label>
					 <input ng-model="user.password"
					type="password" class="form-control" ng-minlength="4" id="password"
					placeholder="Enter password" name="password">
					 <span
					ng-show="registration.password.$error.minlength" class="error">password
					must be more than 3 characters</span> <br> 
					<label
					for="confirmpassword">Confirm Password</label>
					 <input
					ng-model="user.confirmPassword" type="password"
					class="form-control" ng-minlength="4"
					ng-blur="passwordmatch($event)" id="passwordwarning"
					placeholder="Repeat password" name="confirmpassword">
					 <span
					ng-show="passwordmismatch" class="error">passwords do not
					match</span> <br />
					 <label for="dob">Date of birth</label> 
					 <input
					type="date" class="form-control" ng-model="user.dob" name="dob"
					id="dob" /> <br> <label for="gender">Gender</label>
					
				<div class="row">
					<div class=" col-4 form-check form-check-inline">
						<label class="custom-control custom-radio"> 
						<input ng-model="user.gender"
							id="gender" name="gender" type="radio" value="male"
							class="custom-control-input" required> <span
							class="custom-control-indicator"></span> <span
							class="custom-control-description">Male</span>
						</label>
					</div>

					<div class="col-4 form-check form-check-inline">
						<label class="custom-control custom-radio" required>
						 <input ng-model="user.gender"
							id="gender" name="gender" type="radio" value="female"
							class="custom-control-input"> <span
							class="custom-control-indicator"></span> <span
							class="custom-control-description">Female</span>
						</label>
					</div>
				</div>
				<div class="form-group">
					<p id="dotted-bound">
						By Creating an Account with us, you certify that you have read the
						<a href="#">Terms of Use</a> and <a href="#">privacy policy</a>
					</p>
				</div>
				<div class="row form-group">
					<div class="col">
						<button ng-click="register()"
							ng-disabled="registration.firstname.$error.pattern 
							||registration.lastname.$error.pattern
							||registration.email.$error.pattern 
							||registration.phone.$error.minlength
							||registration.phone.$error.maxlength 
							||registration.password.$error.minlength 
							||passwordmismatch
							||emailesists"
							
							class="btn btn-lg btn-block btn-success ">
							Create an Account !</button>
						<br>
					</div>
				</div>
				<p>
					Already have an account?<a href="#"><strong> Sign in</strong></a>
				</p>
			</form>
		</div>
	</div>
</div>
</body>