<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Token Confirmation - ToDo</title>
</head>
<body>
	<div class="container-fluid col-md-6 col-sm-12 clearback">
		<form class="form-control marginzero" name="resetPassword">

			<div>
				<input type="password" ng-minlength="4"
					class="password form-control" id="user.password"
					ng-model="user.password" placeholder="Enter new password"
					name="password" ng-required="true" /> <br /> <br />
			</div>
			<div>
				<input type="password" ng-minlength="4"
					class="password form-control" id="confirmPassword"
					ng-model="user.confirmPassword" placeholder="Repeat Password"
					name="confirmPassword" ng-required="true" />
			</div>

			<div>
				<span role="
					error" class="error-msg" ng-show="error">
					Invalid link. please check if URL is broken. or generate another
					one from <a href="" ng-click="redirectToForgotPassword">here</a>
				</span> <span role="error" class="error-msg" ng-show="passwordError">
					*passwords do not match </span> <span role="error" class="error-msg"
					ng-show="resetPassword.password.$error.minlength || resetPassword.confirmPassword.$error.minlength">
					*password must be atleast 4 character long </span>
			</div>

			<br /> <br />
			<div class="container-fluid col-6">
				<button class="btn btn-info btn-block"
					ng-disabled="error || passwordError || resetPassword.password.$error.minlength || resetPassword.confirmPassword.$error.minlength"
					ng-click="reset()">Change Password</button>
			</div>
		</form>
	</div>
</body>
</html>