<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Token Confirmation - ToDo</title>
</head>
<body>
	<div class="container-fluid col-6 clearback">
		<form class="form-control marginzero">
			
			<div>
				<input type="password" class="password form-control"
					id="user.password" ng-model="user.password"
					placeholder="Enter new password" /> <br /> <br />
			</div>
			<div>
				<input type="password" class="password form-control"
					id="confirmPassword" ng-model="user.confirmPassword"
					placeholder="Confirm Password" />
			</div>
			<br /> <br />
			<div class="container-fluid col-6">
				<button class="btn btn-info btn-block" ng-click="resetPassword()">Change
					Password</button>
			</div>
		</form>
	</div>
</body>
</html>