<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Token Confirmation - ToDo</title>
</head>
<body>
	<div class="container-fluid col-6">
		<form class="form-control">
		<div>
			<input type="password" class="password" id="user.password"
				ng-model="password" placeholder="Enter new password" /> <br /> <br /> 
				</div>
				<div>
				<input
				type="password" class="password" id="password" ng-model="user.confirmPassword"
				placeholder="Confirm Password" /></div>
	<br /> <br />
			<button class="btn btn-info btn-lg" ng-click="resetPassword()">Change Password</button>
		</form>
	</div>
</body>
</html>