<div id="mySidenav" class="sidenav">


	<div ng-click="redirectToHome()"
		class="row container-fluid sidebar-menu">
		<div class="col-12">
			<div class="col-6">
				<i class="material-icons">lightbulb_outline</i>
			</div>
			<div class="col-6" style="float: left !important">
				<a>Notes</a>
			</div>
		</div>
	</div>
	<div ng-click="redirectToArchive()"
		class="row container-fluid sidebar-menu">
		<i class="material-icons">archive</i><a>Archive</a>

	</div>
	<hr />

	<div class="row container-fluid sidebar-menu"
		ng-repeat="label in labels track by $index" ng-click="redirectToLabel(label)"> 
		<a>{{label.name}}</a>
	</div>

	<div class="row container-fluid">
		<input placeholder="create new label" type="text"
			ng-model="label.name" class="form-control" />
		<button class="btn btn-danger btn-block" ng-click="createLabel(label)">+</button>
	</div>
	
	<hr />
	
	<div ng-click="redirectToTrash()"
		class="row container-fluid sidebar-menu">
		<a>Trash</a>
	</div>
	<div ng-click="redirectToReminder()"
		class="row container-fluid sidebar-menu">
		<a>Reminder</a>
	</div>

	<div class="row container-fluid sidebar-menu">
		<i class="material-icons">touch_app</i> <a href="">Reminder</a>
	</div>

</div>