<div id="mySidenav" class="sidenav">


	<div ng-click="redirectToHome()" class="row container-fluid sidebar-menu">
		<a >Notes</a>
	</div>
	<div ng-click="redirectToArchive()" class="row container-fluid sidebar-menu">
		<a >Archive</a>
	</div>
	<div ng-click="redirectToTrash()" class="row container-fluid sidebar-menu">
		<a >Trash</a>
	</div>
	<div ng-click="redirectToReminder()" class="row container-fluid sidebar-menu">
		<a >Reminder</a>
	</div>
	<div class="row container-fluid sidebar-menu">
		<a href="">Contact</a>
	</div>

</div>