body {
	background-color: #F4F6F6;
}

.margintop {
	margin-top: 100px;
	padding: 10px;
}

#submitbutton{
	box-shadow: 1px,1px,1px,1px lightgrey !important; 
}

#error{
	font-size: 13px;
	color: red;
	margin: 7px;
}		

.formback{
	background-color: white;
	/* height : 200px !important; */
	border-radius: 8px;
	box-shadow: 2px 2px 2px 2px lightgrey; 
}	