@charset "UTF-8";

.clearback {
	margin-top: 60px;
	/* border-radius: 4px; */
	border-radius: 8px;
	box-shadow: 2px 2px 2px 2px lightgrey;
	padding : 0px;
	
}

.error-msg {
	font-size: 14px;
	color: red;
}